version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-1604:202007-01
    resource_class: medium
    steps:
      - run: sudo apt update
      - run: sudo debconf-set-selections \<<< 'mysql-server mysql-server/root_password password 123456789'
      - run: sudo debconf-set-selections \<<< 'mysql-server mysql-server/root_password_again password 123456789'
      - run: sudo apt-get install mysql-server
      - run: sudo systemctl start mysql
      - run: mysql -u root -p123456789 -e "SET @@global.time_zone = '+02:00'"
      - run: mysql -u root -p123456789 -e "create database demo_time_test"
      - run: mysql  -u root -p123456789 -e "exit"
      - run: wget https://download.java.net/java/GA/jdk17/0d483333a00540d886896bac774ff48b/35/GPL/openjdk-17_linux-x64_bin.tar.gz
      - run: sudo apt update
      - run: sudo tar xvf openjdk-17_linux-x64_bin.tar.gz
      - run: sudo mv jdk-17 /opt/
      - run: export JAVA_HOME=/opt/jdk-17
      - run: export PATH=$PATH:$JAVA_HOME/bin
      - run: source ~/.bashrc

      - run: wget https://www.apache.org/dist/maven/maven-3/3.6.3/binaries/apache-maven-3.6.3-bin.tar.gz -P /tmp
      - run: sudo tar xf /tmp/apache-maven-*.tar.gz -C /opt
      - run: export M2_HOME=/opt/maven
      - run: export MAVEN_HOME=/opt/maven
      - run: export PATH=${M2_HOME}/bin:${PATH}
      - run: mvn verify
#      - restore_cache:
#         keys:
#              - v1-dependencies-{{ checksum "pom.xml" }}
#                # fallback to using the latest cache if no exact match is found
#              - v1-dependencies-
#          - run: mvn dependency:go-offline

            # run tests!
      - run: mvn -e test -DargLine="-Dspring.profiles.active=cicd"